body {
    margin: 0;
    justify-content: center;
}

.content{
    padding: 5%;
}

.content *{
    display: block;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.content div{
    justify-content: center;
}

b{
    margin-left: 10%;
}

.testNum{
    background-color:darkblue;
    padding: 0.2%;
    text-align: center;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}