body{
    background-color: rgb(250, 249, 255);
    margin: 0;
}

.title{
    background-color:darkblue;
    padding: 0.2%;
    text-align: center;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title h3{
    font-size: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
    margin-top: 2% ;
    margin-bottom: 2%;
}

.content form .wrapper label{
    display:contents;
}

.content form .wrapper{
    display: flex
}

.content form .wrapper label img{
    max-width: 3%;
}

.content form input[type=file]{
    size: 120%;
    display: none;
}

.content *{
    justify-content: center;
    text-align: center;
}