<!DOCTYPE html>
<html lang="en">

    <script src="../static/jianding_main_page.js"></script>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pearl Eye Recognizer</title>
        <link rel="stylesheet" href="../static/rsc/css/mainPage.css">
    </head>

    <body>
        <div class="title">
            <h1>
                Pearl Eye Recognizer
            </h1>
            <h3>
                Recognize the beauty of life
            </h3>
        </div>
        <div class="content" type="submit">
            <form action="/" method="post" enctype = "multipart/form-data">
                <div class="wrapper">
                    <label for="fileInput">
                        <img src="../static/rsc/icon/upload.png"/>
                    </label>
                    
                    <p>Upload your image for testing</p>    
                    <input type="file" name= file id="fileInput" >



                </div>
                <input type="submit" name="jiandingBtn" value="Test"/>
            </form>
        </div>
    </body>

</html>